.post {
  position: relative;
}

.post::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  /* 随机背景图片 */
  background-image: url('/path/to/images/pic/pic_{{ random.randint(1,18)|string_format:"02d" }}.png');

  filter: blur(10px); /*白色高斯模糊*/
}