#back-image-all {
  background-attachment: fixed;
  /* 添加背景高斯模糊效果 */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
}
#block-content {
  background-attachment: fixed;
  /* 添加背景高斯模糊效果 */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
}