{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark" id="back-image-all" style="background-image:url(#);">
            <div class="container">
                <div class="block-heading">
                    <section class="clean-block clean-hero" id="hero-section"
                             style="background-image:url(#);color:rgba(255, 255, 255, 0);">
                        <div class="text">
                            <h2>聚焦文字</h2>
                            <p>聚焦文字描述</p>
                            <button class="btn btn-outline-light btn-lg" type="button">阅读</button>
                        </div>
                    </section>
                </div>
                {% if request.site_infos.index_title %}
                    <h2 class="text-info">{{ request.site_infos.index_title }}</h2>
                {% else %}
                    <h2 class="text-info">月亮之下</h2>
                {% endif %}
                {% if request.site_infos.index_description %}
                    <p>{{ request.site_infos.index_description }}</p>
                {% else %}
                <p>我熬落霞一壶，饮星月一盏，披风雪一裳，织山川一卷。</p>
                {% endif %}
                <div class="block-content" id="back-image-all">
                    {% for post in posts %}
                        <div class="clean-blog-post">
                            <div class="row">
                                <div class="col-lg-5"><img class="rounded img-fluid" id="post-img-{{ forloop.counter }}"
                                                           alt="" src="#"></div>
                                <div class="col-lg-7">
                                    <h3>{{ post.title }}</h3>
                                    <div class="info"><span
                                            class="text-muted">{{ post.published_at|date:"Y-m-d H:i:s" }}<a
                                            href="#">  {{ user.username }}</a></span></div>
                                    <p>{{ post.content|safe }}</p><a href="{% url 'post_detail' post.title %}"
                                                                     class="btn btn-outline-primary btn-sm"
                                                                     type="button">阅读更多</a>
                                </div>
                            </div>
                            <script type="text/javascript">
                                function getRandomInt(min, max) {
                                    return Math.floor(Math.random() * (max - min)) + min;
                                }

                                var randomIndex = getRandomInt(10, 19);
                                var postImg = document.getElementById("post-img-{{ forloop.counter }}");
                                postImg.src = "/static/images/pic/pic_" + randomIndex + ".jpg";
                            </script>
                        </div>
                    {% endfor %}
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if posts.has_previous %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ posts.previous_page_number }}">前一页</a>
                            </li>
                        {% endif %}

                        {% for i in posts.paginator.page_range %}
                            {% if posts.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}<span
                                        class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if posts.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ posts.next_page_number }}">后一页</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section>
    </main>
{% endblock content %}