{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="page registration-page">
        <link rel="stylesheet" href="{% static 'ckeditor/contents.css' %}">
        <section class="clean-block clean-post dark"  id="back-image-all" style="background-image:url(#);background-attachment: fixed;">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">发布帖子</h2>
                    <p>这里是发布帖子描述</p>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">标题</label>
                        <input class="form-control item" type="text" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="category_id">分类</label>
                        <select class="form-control item" name="category_id" id="category_id" required>
                            {% for category in categories %}
                                <option value="{{category.pk}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editor">内容</label>
                        <textarea name="content" id="editor" rows="10"></textarea></div>
                    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
                    <script src="{% static 'ckeditor/adapters/jquery.js' %}"></script>
                    <script type="text/javascript">
                        CKEDITOR.replace('editor', {
                            filebrowserUploadUrl: '/media/uploads/',
                        });
                    </script>
                    <button class="btn btn-primary btn-block" type="submit">发布</button>
                    {% if error_msg %}
                        <p style="color: red" class="alert alert-danger">{{ error_msg }}</p>
                    {% endif %}
                </form>
            </div>
        </section>
    </main>
{% endblock content %}@login_required(login_url='login')