{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image:{% static "assets/img/scenery/image3.jpg" %};"></div>
                    <div class="post-body">
                        <h3>{{ post.title }}</h3>
                        <div class="post-info"><span>{{ user.username }}</span><span>{{ post.published_at|date:"Y-m-d H:i:s" }}</span></div>
                        <p>{{ post.content }}</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}