{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="page blog-post">
        <section class="clean-block clean-post dark" id="back-image-all" style="background-image:url(#);">

            <div class="container">
                <div class="back-image-all">
                    <div class="post-image" id="post-top-image"
                         style="background-image:url(/static/images/pic/pic_01.png);"></div>
                    <script type="text/javascript">
                        function getRandomInt(min, max) {
                            return Math.floor(Math.random() * (max - min)) + min;
                        }

                        var randomIndex = getRandomInt(1, 9);
                        var heroSection = document.getElementById("post-top-image");
                        heroSection.style.backgroundImage = "url('/static/images/pic/pic_0" + randomIndex + ".png')";
                    </script>
                    <div class="post-body" id="back-image-all">
                        <h3>{{ post.title }}</h3>
                        <div class="post-info">
                            <span>{{ user.username }}</span><span>{{ post.published_at|date:"Y-m-d H:i:s" }}</span>
                        </div>
                        <p>{{ post.content|safe }}</p>
                        {% for comment in page_obj %}
                            <div class="parent-comment">
                                <hr>
                                <b>{{ comment.index }}楼</b><br>
                                <b>{{ comment.username }}</b>发布于{{ comment.created_at|date:"Y-m-d H:i:s" }}
                                {{ comment.content|safe }}<br>

                                <!-- 添加回复文本输入表单 -->
                                <form method="post" style="display:none;" class="reply-form">
                                    {% csrf_token %}
                                    <input name="content"
                                              placeholder="{% if comment.reply_to %}回复 {{ comment.reply_to }}：{% else %}回复 {{ comment.username }}：{% endif %}"
                                              class=form-control></input>
                                    <input type="hidden" name="root_id" value="{{ comment.comment_id }}">
                                    <input type="hidden" name="reply_to" value="{% if comment.reply_to %}回复 {{ comment.reply_to }}：{% else %}回复 {{ comment.username }}：{% endif %}">
                                    <button type="submit">回复</button>
                                </form>

                                {% if comment.children.exists %}
                                    {% for child_comment in comment.children.all %}
                                        <div class="parent-comment">
                                            <b>{{ child_comment.username }}</b> 回复
                                            <b>{{ child_comment.reply_to }}:</b> {{ child_comment.content|safe }}
                                            <br>

                                            <!-- 添加回复按钮 -->
                                            <button class="btn-reply"
                                                    onclick="$(this).closest('.parent-comment').find('.reply-form').toggle()">
                                                回复
                                            </button>

                                            <!-- 添加回复文本输入表单 -->
                                            <form method="post" style="display:none;" class="reply-form">
                                                {% csrf_token %}
                                                <input name="content"
                                                          placeholder=" 回复 {{ child_comment.username }}： "
                                                          class=form-control></input>
                                                <input type="hidden" name="root_id" value="{{ comment.comment_id }}">
                                                <input type="hidden" name="reply_to" value="{% if child_comment.username %}{{ child_comment.username }}{% else %}{{ comment.comment_username }}{% endif %}">
                                                <input type="hidden" name="root_to" value="{{ comment.comment_id }}">
                                                <button type="submit">提交</button>
                                            </form>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <!-- 显示按钮来展开/关闭回复表单 -->
                                <button class="btn btn-primary reply-btn">回复</button>
                            </div>
                        {% endfor %}

                        <button class="btn btn-primary btn-block" id="show-comment-form-btn">写评论</button>
                        <form method="post" enctype="multipart/form-data" style="display: none;" id="comment-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="editor">发布评论</label>
                                <textarea name="content" id="editor" rows="10"></textarea></div>
                            <script src="{% static "assets/js/jquery-3.2.1.min.js" %}"></script>
                            <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
                            <script src="{% static 'ckeditor/adapters/jquery.js' %}"></script>
                            <script type="text/javascript">
                                CKEDITOR.replace('editor', {
                                    filebrowserUploadUrl: '/media/uploads/',
                                });
                                $(document).ready(function () {
                                    $("#show-comment-form-btn").click(function () {
                                        $("#comment-form").toggle();
                                    });
                                });
                            </script>
                            <button class="btn btn-primary btn-block" type="submit">发布</button>
                            {% if error_msg %}
                                <p style="color: red" class="alert alert-danger">{{ error_msg }}</p>
                            {% endif %}
                        </form>

                        <script type="text/javascript">
                            $(document).ready(function () {

                                // 监听回复按钮的点击事件，展开和关闭回复表单
                                $('.reply-btn').click(function () {
                                    $(this).siblings('.reply-form').toggle();
                                });

                            });

                        </script>
                        <hr>
                        <!-- 分页 -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.previous_page_number }}">前一页</a>
                                    </li>
                                {% endif %}

                                {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ i }}<span
                                                class="sr-only">(current)</span></a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.next_page_number }}">后一页</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}