<!DOCTYPE html>
{% load static %}
<html lang="{{ request.site_infos.language_default }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% if request.site_infos.site_title %}
        {% if request.site_infos.site_description %}
            <title>{{ request.site_infos.site_title }} - {{ request.site_infos.site_description }}</title>
        {% else %}
            <title>{{ request.site_infos.site_title }}</title>
        {% endif %}
    {% else %}
        <title>月亮之下 - 我熬落霞一壶，饮星月一盏，披风雪一裳，织山川一卷。</title>
    {% endif %}
    {% if request.site_infos.site_avatar %}
        <link rel="shortcut icon" type="image/x-icon" href="{% get_media_prefix %}{{ request.site_infos.site_avatar }}">
    {% else %}
        <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
    {% endif %}
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/googleapis.css" %}">
    <link rel="stylesheet" href="{% static "assets/fonts/ionicons.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Footer-Basic.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/baguetteBox.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/smoothproducts.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/bg-image.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/comment.css" %}">
    {% if request.site_infos.website_access_statistics %}
        {{ request.site_infos.website_access_statistics|safe }}
    {% endif %}
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top clean-navbar bg-touming">
    <div class="container"><a class="navbar-brand logo" href="/index/">{{ request.site_infos.site_title }}</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ml-auto">
                {% for root_menu in request.site_menus %}
                    <li class="nav-item dropdown">
                        <a href="{{ root_menu.url }}" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true" aria-expanded="false">{{ root_menu.menu_text }}</a>
                            <div class="dropdown-menu bg-touming">
                        {% if root_menu.children %}
                            {% for menu in root_menu.children %}
                                <a class="dropdown-item" href="{{ menu.url }}">{{ menu.menu_text }}</a>
                        {% endfor %}
                        {% endif %}
                            </div>
                    </li>
                {% endfor %}
                {% if request.site_categories %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">分类</a>
                        <div class="dropdown-menu bg-touming">
                            {% for category in request.site_categories %}
                                <a class="dropdown-item" href="{% url 'index' category.name %}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            {% if user.avatar %}
                                <img src="{% get_media_prefix %}{{ user.avatar }}"
                                     class="avatar-img rounded-circle img-fluid"
                                     height="30" width="30" alt="">
                            {% else %}
                                <img src="{% static "images/head.png" %}" class="avatar-img rounded-circle img-fluid"
                                     height="30" width="30" alt="">
                            {% endif %}
                        </a>
                        <div class="dropdown-menu bg-touming">
                            <a class="dropdown-item" href="/index/">欢迎 {{ user.username }}!</a>
                            <a class="dropdown-item" href="/admin/">管理</a>
                            <a class="dropdown-item" href="/logout/">登出</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a href="{% url 'login' %}" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">登录</a>
                        <div class="dropdown-menu bg-touming">
                            <a class="dropdown-item" href="{% url 'login' %}">登录</a>
                            <a class="dropdown-item" href="{% url 'register' %}">注册</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<main id="main">
    {% block content %}
    {% endblock content %}
</main>
<footer class="footer-basic bg-footer-tou" id="footer-img">
    <div class="social">
        {% if request.user_links %}
            {% for link in request.user_links %}
                <a href="{{ link.link_url }}"><img src="{% get_media_prefix %}{{ link.link_img_url }}"
                                                   alt="{{ link.link_name }}"></a>
            {% endfor %}
        {% else %}
            <a href="https://space.bilibili.com/175784627"><img src="{% static "images/bilibili.png" %}" alt=""></a>
            <a href="https://github.com/2675hujilo/DjangoBlog"><img src="{% static "images/github.png" %}" alt=""></a>
            <a href="https://qm.qq.com/cgi-bin/qm/qr?k=aznn-B5xkwRfTVjZxdOED8jEb4dovzke&noverify=0&personal_qrcode_source=1"><img
                    src="{% static "images/qzone.png" %}" alt=""></a>
        {% endif %}
    </div>
    <ul class="list-inline ">
        {% if request.user_links %}
            {% for link in request.site_links %}
                <li class="list-inline-item">
                    <a href="{{ link.link_url }}">{{ link.link_name }}</a>
                </li>
            {% endfor %}
        {% else %}
            <li class="list-inline-item">
                <a href="#">友情链接</a>
            </li>
        {% endif %}
    </ul>
    {% if request.footer_links %}
        {% for link in request.footer_links %}
            <p class="copyright">{{ link.link_name }}</p>
        {% endfor %}
    {% else %}
        <p class="copyright">CopyRight@2023</p>
    {% endif %}
</footer>
<script defer src="{% static "assets/js/bg-image.js" %}"></script>
<script defer src="{% static "assets/js/jquery.min.js" %}"></script>
<script defer src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
<script defer src="{% static "assets/js/baguetteBox.min.js" %}"></script>
<script defer src="{% static "assets/js/smoothproducts.min.js" %}"></script>
<script defer src="{% static "assets/js/theme.js" %}"></script>
</body>
</html>