<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}我的博客{% endblock %}</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
</head>
<body>

<header id="header">
    <div class="container">
        <p>这里是头部导航栏。</p>
    </div>
    <div class="container">
        {% if user.is_authenticated %}
            <p>欢迎您 {{ user.username }}!</p>
            <a href="{% url 'logout' %}">登出</a>
        {% else %}
            <a href="{% url 'login' %}">登录</a>
            <a href="{% url 'register' %}">注册</a>
        {% endif %}
    </div>
</header>

<main id="main">
    {% block content %}
    {% endblock content %}
</main>
<footer id="footer">
    <div class="container">
        <p>这里是页面底部。</p>
    </div>
</footer>

<!--<script src="{% static 'js/script.js' %}"></script>-->

{% block extra_js %}
{% endblock extra_js %}

</body>
</html>